{{ define "main" }}
<div class="container">
    <h1>{{ .Type | title }}</h1>
    <div class="row">
        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "recipes") }}
        {{ range $paginator.Pages }}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                {{ if .Params.img }}
                <img width="100%" src="{{ .Site.BaseURL }}images/{{ .Params.img }}" alt="{{ .Title }}">
                {{ else }}
                <img width="100%" src="https://picsum.photos/640/360?{{ .Permalink }}" alt="A Lovely Recipe">
                {{ end }}
                <div class="card-body">
                    <h5 class="card-title">{{ .Title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ .Date.Format "Jan 2, 2006" }}</h6>
                    <p class="card-text">{{ .Summary }}</p>
                    <a href="{{ .RelPermalink }}" class="stretched-link">View Recipe</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>

    <div class="row">
        <div class="col-md-4"> </div>
        <div class="col-md-4">
            {{ if gt .Paginator.TotalPages 1 }}
            <ul class="pagination">
                {{ if .Paginator.HasPrev }}
                <li><a href="{{ .Paginator.Prev.URL }}">&laquo; Prev</a></li>
                {{ else }}
                <li><span>&laquo; Prev</span></li>
                {{ end }}

                {{ $scratch := newScratch }}
                {{ $scratch.Set "current" .Paginator.PageNumber }}

                {{ range .Paginator.Pagers }}
                {{ if eq .PageNumber ($scratch.Get "current") }}
                <li class="active"><span><em>{{ .PageNumber }}</em></span></li>
                {{ else }}
                <li><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
                {{ end }}
                {{ end }}

                {{ if .Paginator.HasNext }}
                <li><a href="{{ .Paginator.Next.URL }}">Next &raquo;</a></li>
                {{ else }}
                <li><span>Next &raquo;</span></li>
                {{ end }}
            </ul>
            {{ end }}

        </div>
        <div class="col-md-4"> </div>
    </div>
</div>

{{ end }}
